services:
  db:
    image: 'postgres:latest'
    ports:
      - 15432:5432
    env_file:
      - ./backend/.env
  backend:
    build: ./backend
    ports:
      - 8000:8000
    env_file:
      - ./backend/.env
    depends_on:
      - db
